alabaster==1.0.0
argcomplete==3.6.2
attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
beautifulsoup4==4.14.3
binaryornot==0.4.4
boolean.py==5.0
boto3==1.42.49
botocore==1.42.49
bottle==0.13.4
breezy==3.3.21
Brotli==1.2.0
btrfsutil==6.19
build==1.4.0
certifi==2026.1.4
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorthief==0.2.1
configobj==5.0.9
coverage==7.13.4
cryptography==46.0.5
cupshelpers==1.0
dateparser==1.2.2
dbus-python==1.4.0
docutils==0.22.3
dulwich==0.25.2
emoji==2.15.0
evdev==1.9.3
fastbencode==0.3.9
filelock==3.24.0
flit==3.12.0
flit_core==3.12.0
idna==3.11
imagesize==1.4.1
iniconfig==2.1.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.1.0
keyring==25.7.0
libfdt==1.7.2
libtorrent==2.0.11
license-expression==30.4.4
lit==21.1.8.dev0
lxml==6.0.2
MarkupSafe==3.0.3
mercurial==7.2
merge3==0.0.16
more-itertools==10.8.0
natsort==8.4.0
netsnmp-python==1.0a1
nftables==0.1
nose==1.3.7
numpy==2.4.2
packaging==26.0
patiencediff==0.2.18
piexif==1.1.3
pillow==12.1.1
pillow_heif==1.3.0
pkg_resources==81.0.0
platformdirs==4.9.4
pluggy==1.6.0
protontricks==1.13.1
psutil==7.2.2
pwquality==1.4.5
pybind11==3.0.2
pycairo==1.29.0
pycparser==2.23
pycups==2.0.4
Pygments==2.19.2
PyGObject==3.54.5
PyJWT==2.11.0
pypdf==6.7.5
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.18.0
pytest==8.4.2
pytest-cov==6.1.1
pytest-mock==3.14.1
python-dateutil==2.9.0
python-debian==1.0.1
python-magic==0.4.27
python-xlib==0.33
pytz==2025.2
pyudev==0.24.4
pywal==3.3.0
pyxdg==0.28
PyYAML==6.0.3
rarfile==4.2
Reflector==2023.6.28.0.36.1
regex==2026.2.28
reportlab==4.2.2
requests==2.32.5
requests-file==2.1.0
reuse==6.2.0
roman-numerals-py==3.1.0
rpm==6.0.1
s3transfer==0.16.0
SecretStorage==3.4.0
setproctitle==1.3.7
setuptools==82.0.0
shtab==1.8.0
six==1.17.0
snowballstemmer==2.2.0
solaar==1.1.19
soupsieve==2.8.3
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
termcolor==3.3.0
tldextract==5.3.1
tldr==3.4.4
tomli_w==1.2.0
tomlkit==0.14.0
typing_extensions==4.15.0
tzlocal==5.3.1
ufw==0.36.2
Unidecode==1.4.0
urllib3==2.6.3
validate==5.0.9
vdf==4.0
wheel==0.46.3
zstandard==0.25.0
